.My.Event {
    background-color: aquamarine;
}
.Past.Joined.Event {
    background-color: aqua;
}
.Future.Joined.Event {
    background-color: lightgoldenrodyellow;
}
.Not.Joined.Event {
    background-color: aliceblue;
}
.info-text {
    display: none;
}