body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}
p {
    color: #555;
    font-size: 18px;
    margin-top: 20px;
    line-height: 2;
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1px;
    border: 5px solid #fff;
    border-radius: 1px;
    background-color: #fff;
    padding-bottom:1px
}

img{
    flex:1;
    max-width:50px;
    height:auto;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

    .head .back-link {
        color: #37d3c2;
        text-decoration: none;
        font-size: 20px;

    }

        .head .back-link:hover {
            color: #2aa5a0;
        }

    .head h1 {
        text-align: center;
        color: #4bbe97;
        font-size: 2.5rem;
        letter-spacing: 2px;
        text-transform:capitalize;
        font-style: italic;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
        margin: 0;
        flex: 1;
    }

input[type="submit"] {
    background-color: #37d3c2;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

    input[type="submit"]:hover {
        background-color: #2aa5a0;
    }
.space{
    padding-top: 5px
}
h2{
    text-align:left;
    padding-top:30px;
}
.rating {
    display: inline-block;
}

    .rating input {
        display: none;
    }

    .rating label {
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 50px;
        margin: 0;
        padding: 0;
    }

        .rating label:before {
            content: '\2605';
            font-size: 50px;
            color: #f90; 
        }

    .rating input:checked ~ label ~ label:before {
        color: #ccc;
    }
.rate{
    width: 140px;
    align-content:center;
}
.p1 {
    max-height: 200px;
    overflow-y: auto;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
    padding: 20px; 
    text-align:center;
}
td{
    padding:20px;
}