.myLblue {
   color: #37d3c2;
}
.myLyellow {
    color: #ecd448;
}
.myLgreen {
    color: #c3db5f;
}
h3 {
    color: #ecd448;
    font-size: 1.5rem;
}

header {
    text-align: center;
}
h1 {
    color: #c3db5f;
}
p4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    font-size: 1.5rem;
}
.btn {
    padding: 10px 20px;
    background-color: #37d3c2;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #2aa5a0;
    }

p {
    font-size: 1.2rem;
    color: #444;
}
.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh; 
}
