.myLblue {
   color: #37d3c2;
}
.myLyellow {
    color: #ecd448;
}
.myLgreen {
    color: #c3db5f;
}
h3 {
    color: #ecd448;
    font-size: 1.5rem;
}
header {
    text-align: center;
}
h1 {
    color: #c3db5f;
}