.navbar-white {
    background-color: #37d3c2;
    color: white;
    font-weight: bold;
}

.footer {
    background-color: #37d3c2;
    color: white;
    text-align: center;
}

.navbar {
    height: 50px;
}

.logo-image {
    max-width: 100%;
    max-height: 50px;
    display: block;
    margin: 0 auto;
}
.user-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fefefe;
    color: #37d3c2;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #37d3c2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

    .user-icon:hover {
        background-color: #37d3c2; 
        color: #fff;
    }
.notification-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #ecd448;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .notification-icon:hover {
        color: #ffd700;
    }
.notification-icon,
.user-icon,
.nav-link.text-white {
    margin-right: 15px; 
}
.text-error {
    color: #ff0000; 
}
.dropdown-menu {
    min-width: 75px;
    right: 0;
    left: auto;
}
.important-dropdown-menu {
    min-width: 110px;
}