@{
    Layout = "_Layout_A";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles/i-style.css">
</head>
<body>
    <header>
        <h1>Post Volunteer Opportunity</h1>
    </header>
    <main>
        <form action="Add" method="post">
            <label for="title">Opportunity Title</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>

            <label for="location">Location</label>
            <select id="location" name="location">
                <option value="Colombo">Colombo</option>
                <option value="Kandy">Kandy</option>
                <option value="Jaffna">Jaffna</option>
                <option value="Galle">Galle</option>
                <option value="Ampara">Ampara</option>
            </select>
            <label for="category">Category</label>
            <select id="category" name="category">
                <option value="Environmental Conservation">Environmental Conservation</option>
                <option value="Community Service">Community Service</option>
                <option value="Youth and Education">Youth and Education</option>
                <option value="Health and Wellness">Health and Wellness</option>
                <option value="Human Rights and Advocacy">Human Rights and Advocacy</option>
                <option value="Disaster Relief">Disaster Relief</option>
                <option value="Animal Welfare">Animal Welfare</option>
                <option value="Arts and Culture">Arts and Culture</option>
                <option value="International Volunteerism">International Volunteerism</option>
                <option value="Online and Virtual Volunteering">Online and Virtual Volunteering</option>
                <option value="Crisis Hotlines">Crisis Hotlines</option>
                <option value="Elderly Care">Elderly Care</option>
                <option value="Microvolunteering">Microvolunteering</option>
                <option value="Food Distribution">Food Distribution</option>
            </select>

            <label for="date">Date</label>
            <input type="date" id="date" name="date" required>

            <input type="submit" value="Post Opportunity">
        </form>
    </main>
    <script src="validation.js"></script>
</body>
</html>
