@{
    Layout = "_Layout_A";
}

<head>
    <link rel="stylesheet" href="~/styles/rate-style.css">
</head>

<div class="container mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Below Events had been updated by the organizer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.title</td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>
