@{
    Layout = "_Layout_A";
}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="~/styles/card-style.css">
<head>
    <title>Opportunities</title>
</head>
<body>
    <div class="header">
        <a href="Add" class="add-button">+ Add Opportunity</a>
        <h1>Opportunities</h1>
        
    </div>
    <div class="cards-container">
        @foreach (var opportunity in Model)
        {
            <a href="Details?title=@opportunity.Title" class="card">
                <div>
                <h2>@opportunity.Title</h2>
                <p><strong>Location:</strong> @opportunity.Location</p>
                <p><strong>Date:</strong> @opportunity.Date.ToShortDateString()</p>
                </div>
            </a>
        }
    </div>
</body>
</html>
