@{
    Layout = "_Layout_A"; 
}
<link rel="stylesheet" href="~/styles/home-style.css">
<html lang="en">
<body>
    <header>
        <h1>Welcome to VIT Connect</h1>
        <p1>Connecting Volunteers and Organizations</p1>        
    </header>
    <div style="margin-top: 50px;"><img src="~/images/Logo.png" alt="Logo" /></div>

    <div class="container">
        <h2>Discover Opportunities to Make a Difference</h2>
        <p>Join us in building a better world. Explore volunteering opportunities that match your interests and availability.</p>
        <a href="AddOpportunity" class="btn">Explore Opportunities</a>
    </div>
</body>
</html>
