<!DOCTYPE html>
<link rel="stylesheet" href="~/styles/form-style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h1>Get Started Today: Join Volunteer Organization Community by Filling Out the Registration Form</h1>
    @if (ViewData.ModelState.IsValid == false)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <form action="OrgRegister" method="post">

        <label for="full_name">Organization Name</label>
        <input type="text" id="full_name" name="full_name" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <label for="category">Category</label>
        <select id="category" name="category">
            <option value="Human Services and Welfare">Human Services and Welfare</option>
            <option value="Environmental and Conservation">Environmental and Conservation</option>
            <option value="Community Development and Education">Community Development and Education</option>
        </select>
        <label for="date">Established Date</label>
        <input type="date" id="date" name="date" required>
        <input type="submit" value="Register">
       </form>
    <div class="space"></div>
    <p>Already have an account? <a href="Login">Login</a></p>
</body>
</html>
