<link rel="stylesheet" href="~/styles/general-style.css">
@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Volunteer Engagement System</title>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <main>
        <section>
            <h3>Our Mission</h3>
            <p>
                Welcome to the Volunteer Engagement System! Our mission is to connect passionate volunteers with organizations that need their support. We aim to make the process of finding and participating in volunteering opportunities as seamless as possible.
            </p>
        </section>

        <section>
            <h3>Our Vision</h3>
            <p>
                We envision a world where volunteering is accessible to everyone, where individuals and organizations can come together to create a positive impact on society. Through our platform, we strive to make volunteering a rewarding and fulfilling experience for all.
            </p>
        </section>

        <section>
            <h3>Why Choose Us?</h3>
            <p>
                At the Volunteer Engagement System, we are committed to providing a user-friendly platform that caters to the diverse needs of both volunteers and organizations. Our features include:
                <ul>
                    <li>Effortless volunteer matching based on interests and availability.</li>
                    <li>Transparent feedback and rating systems for volunteers and organizations.</li>
                    <li>Robust communication and collaboration tools to foster a sense of community among volunteers.</li>
                    <li>Comprehensive reporting and statistics for tracking volunteering activities.</li>
                    <li>Resource and award pages to support and recognize volunteers.</li>
                </ul>
            </p>
        </section>

        <section>
            <h3>Contact Us</h3>
            <p>
                If you have any questions, feedback, or suggestions, please feel free to get in touch with us. We value your input and are here to assist you.
            </p>
            <p>
                Email: <a href="mailto:contact@volunteerengage.com">support@ves.com</a><br />
                Phone: +94 762s770028<br />
                Address: Wellawatte, Colombo - 06
            </p>
        </section>
    </main>

</body>
</html>
