<link rel="stylesheet" href="~/styles/general-style.css">
@{
    ViewBag.Title = "Privacy Policy";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<header>
    <h1>@ViewData["Title"]</h1>
</header>
<div class="container">

    <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our volunteer engagement system.</p>

    <h3>Information We Collect</h3>
    <p>We may collect personal information from volunteers and volunteer organizations during the registration process. This may include names, contact details, and interests.</p>

    <h3>How We Use Your Information</h3>
    <p>We use the information collected to match volunteers with appropriate volunteering opportunities, send notifications, and facilitate communication between volunteers and organizations. We may also use the information for statistical purposes to improve our services.</p>

    <h3>Sharing Your Information</h3>
    <p>We do not share your personal information with third parties without your consent. However, we may share aggregated and anonymized data for reporting and analysis.</p>

    <h3>Security</h3>
    <p>We take reasonable measures to protect your information. However, please be aware that no data transmission over the internet can be guaranteed to be completely secure.</p>

    <h3>Changes to This Policy</h3>
    <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the date of the latest revision will be indicated.</p>

    <p>If you have any questions or concerns about our Privacy Policy, please contact us at contact@ves.com.</p>
</div>
