<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewData["Title"] ?? "Admin Dashboard")</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-xzVRP41Pyz2N6P3zpiX9KotYXQq2PZ0IBiANPKx7zWOxp0F5WnYtFZZ1lWbp3QoU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/styles/admin-layout-style.css">
 </head>
<body>
    <div id="dashboard">
        <div id="sidebar">
            <ul id="menu" class="nav flex-column">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Users">Users</a>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Events"> Events</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Ratings">Ratings</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Engagement"> Engagement</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Volunteers"> Volunteers</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Alerts"> Alerts</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Overview"> Overview</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
                
            </ul>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <footer class="border-top footer text-muted">
        <div class="footer-text">
            &copy; @DateTime.Now.Year VIT Connect. All Rights Reserved. 
        </div>
    </footer>

</body>
</html>
